@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
}
body {
	max-width: 1600px;
	margin: 0 auto;
}

.main {
	height: 936px;
	background: url(../sourse/main/bg/pencil_2.png) 0px 702px no-repeat,
		url(../sourse/main/bg/pencil_1.png) 0px 754px no-repeat,
		url(../sourse/main/bg/earphones.png) 1459px 432px no-repeat, url(../sourse/main/bg/headphones.png) no-repeat,
		url(../sourse/main/bg/bg_header.png) no-repeat;
}

.main-header {
	display: flex;
	padding-top: 43px;
	padding-left: 245px;
	width: 1100px;
	align-items: center;
}

/* navigation */

.main-header .main-header__nav {
	margin-left: 265px;
}

.main-header .main-header__nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}

.main-header .main-header__nav ul li {
	margin-right: 35px;
}

.main-header .main-header__nav ul li a {
	text-decoration: none;
	font-family: Raleway;
	font-size: 17px;
	line-height: 60px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
}

/* LOGIN */

.main-header .main-header__login {
	width: 110px;
	height: 43px;
	opacity: 0.8;
	background-color: #479ee1;
	border-radius: 10px;
	align-items: center;
}

.main-header .main-header__login a {
	margin-left: 25px;
	text-decoration: none;
	font-family: Raleway;
	font-size: 17px;
	line-height: 40px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #ffffff;
}

/* UNDERLINE */
.main-divider {
	margin: 37px auto;
	width: 1110px;
	height: 1px;
	opacity: 0.6;
	background-color: #ffffff;
}

/* CONTENT */

.main-content {
	width: 505px;
	height: 325px;
	margin-top: 265px;
	margin-left: 245px;
}

.main-content__title {
	font-family: "Museo Slab";
	font-size: 40px;
	line-height: 28px;
	font-weight: 500;
	color: #fffefe;
}

.main-content__subtitle {
	margin-top: 44px;
	font-family: Raleway;
	font-size: 26px;
	line-height: 40px;
	font-weight: 500;
	color: #fefefe;
}

/* BUTTONS */
.main-content__buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
	width: 509;
}

.button {
	border-radius: 10px;
	width: 240px;
	height: 80px;
	background-color: #ffffff;
}

.button p {
	font-family: "Raleway";
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
	color: #3e3e3e;
}

.main-content__button1 {
	display: flex;
	box-shadow: 0px 8px 11px 0px rgba(54, 54, 54, 0.15);
}

.main-content__button1 img {
	width: 30px;
	height: 32px;
	margin: 24px 0 24px 31px;
}

.main-content__button1 p {
	margin: 22px 34px 30px 20px;
}

.main-content__button2 p {
	margin: 22px 34px 30px 67px;
}

.button:hover {
	cursor: pointer;
	opacity: 0.7;
	background-color: #4894ce;
}
.button p:hover {
	color: #ffffff;
}

/* OUR SERVICES */

.our-services {
	height: 650px;
	text-align: center;
}

/* TITLE */
.title {
	font-family: "Roboto Slab";
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #7c7c7c;
	line-height: 15px;
}

.our-services__title {
	margin: 97px auto;
	width: 208px;
}

.title span {
	display: inline-block;
	margin-top: 19px;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #494949;
}

.title::after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 2px;
	background-color: #2eb0ec;
	margin-top: 22px;
}

/* SERVICES */

.our-services__services {
	display: flex;
	width: 1057px;
	margin: 0 auto;
	justify-content: space-between;
}

.our-services__service {
	width: 297px;
}

.our-services__service-title {
	margin-bottom: 32px;
	font-family: Raleway;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	color: #494949;
}

.our-services__service-subtitle {
	font-family: Raleway;
	font-size: 14px;
	line-height: 26px;
	font-weight: 500;
	color: #7c7c7c;
}

/* SERVICE1 */
.our-services__service1-icon {
	margin-bottom: 45px;
}

/* SERVICE2 */
.our-services__service2-icon {
	margin: 11px 0 57px 0;
}

/* SERVICE3 */
.our-services__service3-icon {
	margin: 4px 0 42px 0;
}

/* FEATURES */
.features {
	height: 780px;
	width: 1600px;
	background: url(../sourse/features/bg.jpg) no-repeat;
	display: flex;
}

.features-mockup {
	position: relative;
	width: 680px;
}

/* IPAD */
.features-mockup__ipad {
	width: 588px;
	height: 546px;
	margin-top: 148px;
	/* background-color: #f5f6f8; */
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #676767;
	background-image: linear-gradient(
		0deg,
		#e5e7e6 0%,
		#e6e8e7 10%,
		rgba(181, 182, 181, 0.99) 20%,
		#676767 40%,
		#515352 50%,
		#c1c2c2 60%,
		#e1e1e1 80%,
		#bcbdbc 90%,
		#353736 100%
	);
}

.features-mockup__ipad1 {
	top: 4px;
	position: relative;
	width: 585px;
	height: 538px;
	background-color: #f5f6f8;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

/* IPAD SCREEN */
.features-mockup__ipad img {
	margin: 25px 77px 26px 0;
}

/* IPHONE */
.features-mockup__iphone {
	position: absolute;
	top: 240px;
	left: 450px;
	width: 213px;
	height: 449px;
	background-color: #f7f7f7;
	background-image: linear-gradient(
		-25deg,
		rgba(0, 0, 0, 0.01) 0%,
		rgba(255, 255, 255, 0.01) 30%,
		rgba(255, 255, 255, 0) 100%
	);
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 35px;
	box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.61);
}

/* IPHONE SCREEN*/
.features-mockup__iphone img {
	margin: 20px 8px 0 8px;
}

.features-mockup__iphone-camera {
	margin: 15px auto 0;
	width: 5px;
	height: 5px;
	background-color: #252525;
	border-radius: 50%;
}

.features-mockup__iphone-dynamic {
	margin: 9px auto 0;
	width: 33px;
	height: 4px;
	background-color: #686868;
	border-radius: 15px;
}

.features-mockup__iphone-btn {
	margin: 2px auto;
	width: 38px;
	height: 38px;
	border: 2px solid #686868;
	opacity: 0.6;
	border-radius: 50%;
}

/* CONTENT */
.features-content {
	width: 516px;
	margin-left: 154px;
	margin-top: 139px;
}

.features-content__title p {
	opacity: 0.4;
	font-family: Raleway;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
	color: #494949;
}

.features-content__title span {
	display: inline-block;
	margin-top: 20px;
	font-family: Raleway;
	font-size: 32px;
	line-height: 1.2;
	font-weight: 600;
	color: #494949;
}

.features-content__subtitle p {
	margin-top: 36px;
	font-family: Raleway;
	font-size: 20px;
	line-height: 32px;
	font-weight: 500;
	color: #7c7c7c;
}

.features-content__list {
	margin-top: 60px;
	margin-left: 20px;
	font-family: Raleway;
	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	color: #7c7c7c;
}

.features-content__list li {
	list-style: none;
}

.features-content__list li::before {
	content: "";
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 5px;
	right: 20px;
	background: radial-gradient(10px circle at 50% 50%, rgba(71, 194, 230, 1) 50%, rgba(167, 222, 238, 1) 50%);
	border-radius: 50%;
}

.features-content__button {
	text-align: center;
	margin-top: 52px;
	width: 150px;
	height: 50px;
	background-color: #66d4f4;
	box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
	border-radius: 25px;
}

.features-content__button a {
	display: inline-block;
	text-decoration: none;
	width: 96px;
	padding: 18px 0 0 0;
	font-family: Raleway;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #ffffff;
}

/* OTHER SERVICES */

.other-services {
	text-align: center;
	height: 751px;
}

.other-services__title {
	margin: 54px auto;
	width: 250px;
}

.other-services__services {
	display: flex;
	padding-top: 61px;
	margin: 0 auto;
	width: 1065px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.service {
	width: 307px;
	display: flex;
	margin-bottom: 103px;
}

.logo {
	margin-right: 20px;
}

.text {
	margin-top: 10px;
}

.service-title {
	margin-bottom: 24px;
	text-align: left;
	font-family: Raleway;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 600;
	color: #494949;
}

.service-subtitle {
	text-align: left;
	font-family: Raleway;
	font-size: 14px;
	line-height: 26px;
	font-weight: 500;
	color: #7c7c7c;
}

/* CUSTOMER COMMENTS */

/* TITLE */
.customer-comments {
	text-align: center;
	height: 755px;
	background: url(../sourse/customerComments/bg.jpg);
}

.customer-comments__title {
	padding-top: 49px;
	margin: 0 auto;
	width: 313px;
}

/* COMMENT */

.customer-comments__comments {
	padding-top: 73px;
}

.comment {
	height: 400px;
	width: 730px;
	margin: 0 auto;
	/* background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.07);
	box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.07);
	border-radius: 10px; */
	background: url(../sourse/customerComments/bg_comm.jpg) bottom no-repeat;
}

.name {
	font-family: Raleway;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	color: #494949;
}

.post {
	font-family: Raleway;
	font-size: 15px;
	line-height: 30px;
	font-weight: 500;
	color: #7c7c7c;
}

.comm-text {
	padding-top: 46px;
	margin: 0 auto;
	width: 570px;
	font-family: Raleway;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	color: #7c7c7c;
}

/* BUTTONS */
.customer-comments__buttons {
	padding-top: 37px;
	width: 250px;
	margin: 0 auto;
}

.previous {
	margin-right: 30px;
}

.btn {
	font-family: Raleway;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #494949;
	text-decoration: none;
}

.previous::before {
	content: "";
	display: inline-block;
	background: url(../sourse/customerComments/arrow_left.png);
	width: 35px;
	height: 17px;
	margin-right: 15px;
}

.next::after {
	content: "";
	display: inline-block;
	background: url(../sourse/customerComments/arrow_right.png);
	width: 35px;
	height: 17px;
	margin-left: 15px;
}

.btn:hover {
	opacity: 0.4;
}

/* GREAT RESOURCE */

.great-resorce__content {
	display: flex;
	justify-content: space-between;
	width: 1085px;
	height: 320px;
	margin: 162px 273px 149px 246px;
}

.great-resorce__text {
	width: 450px;
}

.top-text {
	opacity: 0.4;
	font-family: Raleway;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
	color: #494949;
}

.great-resorce__text span {
	display: inline-block;
	margin-top: 28px;
	margin-bottom: 36px;
	font-family: Raleway;
	font-size: 32px;
	line-height: 1.2;
	font-weight: 600;
	color: #494949;
}

.middle-text {
	display: inline-block;
	margin-bottom: 40px;
	font-family: Raleway;
	font-size: 20px;
	line-height: 32px;
	font-weight: 500;
	color: #7c7c7c;
}

.bottom-text {
	height: 100px;
	font-family: Raleway;
	font-size: 14px;
	line-height: 26px;
	font-weight: 500;
	color: #7c7c7c;
}

/* PRICING PLAN */

.pricing-plan {
	height: 1000px;
	text-align: center;
	background-color: #f4fbfc;
}

.pricing-plan__header {
	height: 216px;
}

.pricing-plan__title {
	padding-top: 68px;
	width: 205px;
	margin: 0 auto;
}

/* CARDS */
.pricing-plan__bg {
	width: 1600px;
	height: 784px;
	background: url(../sourse/pricingPlan/bg_price.png);
}
.pricing-plan__cards {
	display: flex;
	justify-content: space-between;
	width: 1085px;
	margin: 0 auto 150px auto;
}

/* CARD */
.card {
	width: 322px;
	height: 583px;
	background: url(../sourse/pricingPlan/bg_card.jpg) no-repeat;
	border: 1px solid rgba(0, 0, 0, 0.03);
	border-radius: 20px;
	transition: all 1s ease;
}

/* SCALE */
.card:hover {
	transform: scale(1.2);
}

/* IMG */
/* BOOK */
.book img {
	width: 78px;
	height: 90px;
	margin: 47px auto;
}

/* BAG */
.bag img {
	width: 78px;
	margin: 56px auto 68px auto;
}

/* shopping-bag */
.shopping-bag {
	height: 90px;
	width: 78px;
	margin: 50px auto 53px auto;
}

.card-text p {
	font-family: Raleway;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
	color: #494949;
}

.card-price {
	margin-left: 33px;
}

.currency {
	position: relative;
	top: -25px;
	font-family: Raleway;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #2eb0ec;
}

.price {
	font-family: Raleway;
	font-size: 72px;
	line-height: 1.2;
	font-weight: 800;
	color: #2eb0ec;
}

.mounth {
	position: relative;
	top: 10px;
	font-family: Raleway;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 500;
	color: #2eb0ec;
}

.card-service {
	margin: 45px auto;
	width: 110px;
}

.card-service .list {
	font-family: Raleway;
	font-size: 14px;
	line-height: 32px;
	font-weight: 500;
	color: #7c7c7c;
}

.card-service .list span {
	color: #bebebe;
}

.card-btn {
	margin: 0 auto;
	width: 150px;
	height: 50px;
	background-color: #66d4f4;
	border-radius: 25px;
}

.card-btn a {
	display: inline-block;
	padding-top: 18px;
	text-decoration: none;
	font-family: Raleway;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #ffffff;
}

/* SUBSCRIBE */
.subscribe {
	height: 600px;
	text-align: center;
}

.subscribe__title {
	width: 235px;
	margin: 69px auto 0 auto;
}

.form {
	height: 280px;
	width: 370px;
	margin: 0 auto;
}

.input-name {
	margin-top: 67px;
	width: 370px;
	height: 75px;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.02);
	box-shadow: 0px 8px 16px 0px rgba(92, 149, 161, 0.07);
	border-radius: 37.5px;
}

.input-email {
	margin-top: 26px;
	width: 370px;
	height: 75px;
	background-color: #f5fafa;
	border-radius: 37.5px;
	border: none;
}

.input-submit {
	border: none;
	margin-top: 26px;
	width: 370px;
	height: 75px;
	background-color: #66d4f4;
	box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
	border-radius: 37.5px;
}

/* FOOTER */
.footer {
	height: 421px;
	width: 1065px;
	margin: 0 auto;
}

.footer::before {
	content: "";
	display: inline-block;
	width: 1170px;
	height: 1px;
	background-color: #dfdfdf;
	margin: 0 auto;
	position: relative;
	left: -32px;
}

.links {
	display: flex;
	width: 111px;
	justify-content: space-between;
}

.link {
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.link img {
	margin-top: 8px;
}

.links__fb {
	background-color: #3b579d;
}

.links__google {
	background-color: #da4835;
}

.links__tw {
	background-color: #55acee;
}